ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
li {
    float: left;
  }
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #flights{
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    margin-top: 20px;
  }
  #flight{
    display: grid;
    grid-template-columns: 50fr 15fr;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }
  
  #flight-route{
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    color: #333;
    padding: 20px 10px 20px 10px;
    background-color: white;
  }
  #flight-buy{
    display: grid;
    padding: 20px 10px 20px 10px;
    background-color: #EDECEC;
  }
  #flight-buy > div{
    font-size: 140%;
    font-weight: 400;
    color: black;
  }
  #flight-buy button{
    align-self: flex-end;
    color: white;
    background-color:rgba(40, 167, 69, 1);
  }
  #flight-route .row{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr 10fr;
  }
  